.nav nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 5% 20%;
    font-size: 1rem;
    opacity: 0;
}

.classNameAfter nav {
    transition-duration: 2s;
    transition-delay: 3s;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    padding: 5% 20%;
    font-size: 1rem;
    opacity: 1;
    a{
    text-decoration: none;
    color: white;
    }
    
}
