.intro{
color: white;
background-color: rgba(255, 255, 255, 0.048);
height: 500px;
ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style-type: none;
    li{
        margin: 10px;
    }
}
.icon{
    position: absolute;
    left: 90%;
    top: 16%;
    height: 5%;
    width: auto;
    color: white;
}
.icon:hover{
    transition: 1s;
    color: rgba(255, 0, 0, 0.562);
    transform: rotate(-360deg);;
}
}


body{
    
}